<div class="pie_duan_frame">
  <div class="clear">
    <a href="/">首页</a> > 考试项点
  </div>
  <div class="row">
    <div class="pull-right range-query">
      <div class="searchtime">时间：</div>
      <div class="searchtime">
        <%= form_tag duan_program_info_t_duan_infoes_path, method: :get do %>
          <%= text_field_tag 'search[date_from]'%>
          <%= text_field_tag 'search[date_to]' %>
          <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-border">
    <thead>
      <tr>
        <th>序号</th>
        <th>考题名称</th>
        <th>考试频次</th>
        <th>查看详情</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @duan_programs.each do |d| %>
      <% i = i+1 %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to(d.first,t_program_info_path(:id => TProgramInfo.find_by(:F_name => d.first).F_id,:name => d.first,:"uf8" => params[:uf8],:"search" => params[:search],:"commit" => params[:commit])) %></td>
        <td><%= d.second %></td>
        <td><%= link_to("查看详情", duan_program_student_info_t_duan_infoes_path(:name => d.first,"utf8": params[:utf8],"search": params[:search],"commit": params[:commit]) )%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
