<div class="pie_duan_frame">
  <div class="clear">
    <a href="/">首页</a> > <a href="/t_duan_infoes/duan_program_info ">考试项点</a>  > 该项点考生
  </div>

  <!-- 排序导航 -->
  <div class="program-student-info-bar">
    <ul class = "nav navbar-nav">
      <li class = "first-li">  <a> 综合排序 </a> </li>
      <li><%= link_to("按站段",duan_program_student_info_t_duan_infoes_path(:order => "by_duan",:name => params[:name]))%></li>
      <li><%= link_to("按车站",duan_program_student_info_t_duan_infoes_path(:order => "by_station",:name => params[:name]))%></li>
      <li><%= link_to("按班组",duan_program_student_info_t_duan_infoes_path(:order => "by_team",:name => params[:name]))%></li>
      <li><%= link_to("时间",duan_program_student_info_t_duan_infoes_path(:order => "by_time",:name => params[:name]))%></li>
      <li><%= link_to("分数",duan_program_student_info_t_duan_infoes_path(:name => params[:name]))%></li>
    </ul>

  </div>

  <!-- 详情表单 -->
  <table class="table table-border">
    <thead>
      <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>身份证号</th>
        <th>站段</th>
        <th>车站</th>
        <th>班组</th>
        <th>考试时间</th>
        <th>得分</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @records.each do |r| %>
      <% i = i+1 %>
      <tr>
        <td><%= i %></td>
        <% if r.t_user_info.present? %>
          <td>
              <%= r.t_user_info.F_name %>
          </td>
          <td>
              <%= r.t_user_info.F_id %>
          </td>
        <% else %>
          <td>信息丢失</td>
          <td>信息丢失</td>
        <% end %>
        <td>
          <% if r.t_duan_info.present? %>
            <%= r.t_duan_info.F_name %>
          <% else %>
            信息丢失
          <% end %>
        </td>
        <td>
          <% if r.t_station_info.present? %>
            <%= r.t_station_info.F_name %>
          <% else %>
            信息丢失
          <% end %>
        </td>
        <td>
          <% if r.t_team_info.present? %>
            <%= r.t_team_info.F_name %>
          <% else %>
            信息丢失
          <% end %>
        </td>
        <td><%= r.F_time %></td>
        <td><%= r.F_score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
