<div class = "welcome_frame">
<a href="/t_duan_infoes"> << 返回 </a>
<h5 style = "text-align: center;">设备维护历史记录汇总</h5>
  <table class = "table">
    <thead>
      <tr>
        <th>序号</th>
        <th>站段</th>
        <th>车站</th>
        <th>设备来源</th>
        <th>已使用年限</th>
        <th>维护原因</th>
        <th>维护时间</th>
      </tr>
    </thead>
    <tbody>
      <% n = 1%>
      <% @station_equipment_maintains.each do |equipment_maintain| %>
        <% duan_name = TDuanInfo.find_by(F_uuid: TStationInfo.find_by(F_name: equipment_maintain.station_name).F_duan_uuid ).F_name %>
        <% if current_user.permission == 1 %>
          <tr>
            <td><%= n %></td>
            <td><%= duan_name %></td>
            <td><%= equipment_maintain.station_name %></td>
            <% if equipment_maintain.equipment_come_from.present? %>
              <td><%= equipment_maintain.equipment_come_from %></td>
            <% else %>
              <td style = "color: red">此项未填写！</td>
            <% end %>
            <% if equipment_maintain.equipment_used_time_lenth.present? %>
              <td><%= equipment_maintain.equipment_used_time_lenth %></td>
            <% else %>
              <td style = "color: red">此项未填写！</td>
            <% end %>
            <td><%= equipment_maintain.maintain_reason %></td>
            <td>
              <%= equipment_maintain.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ~
              <% if equipment_maintain.end_time == "2030-01-01 00:00:00" %>
                （维护中）
              <% else %>
                <%= equipment_maintain.end_time.strftime("%Y-%m-%d %H:%M:%S") %>
              <% end %>
            </td>
          </tr>
          <% n = n+1 %>
        <% elsif current_user.permission == 2 %>
          <% if duan_name == current_user.orgnize %>
            <tr>
              <td><%= n %></td>
              <td><%= duan_name %></td>
              <td><%= equipment_maintain.station_name %></td>
              <% if equipment_maintain.equipment_come_from.present? %>
                <td><%= equipment_maintain.equipment_come_from %></td>
              <% else %>
                <td style = "color: red">此项未填写！</td>
              <% end %>
              <% if equipment_maintain.equipment_used_time_lenth.present? %>
                <td><%= equipment_maintain.equipment_used_time_lenth %></td>
              <% else %>
                <td style = "color: red">此项未填写！</td>
              <% end %>
              <td><%= equipment_maintain.maintain_reason %></td>
              <td>
                <%= equipment_maintain.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ~
                <% if equipment_maintain.end_time == "2030-01-01 00:00:00" %>
                  （维护中）
                <% else %>
                  <%= equipment_maintain.end_time.strftime("%Y-%m-%d %H:%M:%S") %>
                <% end %>
              </td>
            </tr>
            <% n = n+1 %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
