
<div class = "welcome_frame">
  <% if current_user.permission == 1 %>
    <div class="">
      <a href="/">首页</a> > 所有站段
    </div>
    <h3>车务段 (共计：<%= @duans_cw.size%>个)</h3><hr>
      <% @duans_cw.each do |duan|%>
        <%= link_to t_station_infoes_path(duan_name: duan.F_name,"utf8": params[:utf8], "search": params[:search], "commit": params[:commit]) do  %>
          <button type="button" name="name">
            <%= duan.F_name %>
            <% if @duan_name.include?(duan.F_name) %>
              <i style = "color: red;">(维护中)</i>
            <% end %>
          </button>
        <% end %>
      <% end %>

    <h3>直属站 (共计：<%= @duans_zs.size%>个)</h3><hr>
      <% @duans_zs.each do |duan|%>
        <%= link_to t_station_infoes_path(duan_name: duan.F_name,"utf8": params[:utf8], "search": params[:search], "commit": params[:commit]) do  %>
          <button type="button" name="name">
            <%= duan.F_name %>
            <% if @duan_name.include?(duan.F_name) %>
              <i style = "color: red;">(维护中)</i>
            <% end %>
          </button>
        <% end %>
      <% end %>

    <h3>职教基地 (共计：<%= @duans_zj.size%>个)</h3><hr>
      <% @duans_zj.each do |duan|%>
        <%= link_to t_station_infoes_path(duan_name: duan.F_name,"utf8": params[:utf8], "search": params[:search], "commit": params[:commit]) do  %>
          <button type="button" name="name">
            <%= duan.F_name %>
            <% if @duan_name.include?(duan.F_name) %>
              <i style = "color: red;">(维护中)</i>
            <% end %>
          </button>
        <% end %>
      <% end %>
  <% elsif current_user.permission == 2 %>
    <div class="">
      <a href="/">首页</a> > 当前站段
    </div>
    <div style="margin-top:30px;">
      <button type="button" name="button">
        <% if params[:search].present? %>
         <%= link_to(current_user.orgnize,t_station_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit])) %>
        <% else %>
          <%= link_to(current_user.orgnize,t_station_infoes_path) %>
        <% end %>
        <% if @duan_name.include?(current_user.orgnize) %>
          <i style = "color: red;">(维护中)</i>
        <% end %>
      </button>
    </div>
  <% end %>

  <h5 style= "margin-top: 50px;">设备维护的站：</h5>
  <table class = "table">
    <thead>
      <tr>
        <th>序号</th>
        <th>站段</th>
        <th>车站</th>
        <th>维护原因</th>
        <th>维护时间</th>
      </tr>
    </thead>
    <tbody>
      <% n = 1%>
      <% @station_equipment_maintain.each do |equipment_maintain| %>
        <% duan_name = TDuanInfo.find_by(F_uuid: TStationInfo.find_by(F_name: equipment_maintain.station_name).F_duan_uuid ).F_name %>
        <% if current_user.permission == 1 %>
          <tr>
            <td><%= n %></td>
            <td><%= duan_name %></td>
            <td><%= equipment_maintain.station_name %></td>
            <td><%= equipment_maintain.maintain_reason %></td>
            <td>
              <%= equipment_maintain.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ~
              <% if equipment_maintain.end_time == "2030-01-01 00:00:00" %>
                （维护中）
              <% else %>
                <%= equipment_maintain.end_time.strftime("%Y-%m-%d %H:%M:%S") %>
              <% end %>
            </td>
          </tr>
          <% n = n+1 %>
        <% elsif current_user.permission == 2 %>
          <% if duan_name == current_user.orgnize %>
            <tr>
              <td><%= n %></td>
              <td><%= duan_name %></td>
              <td><%= equipment_maintain.station_name %></td>
              <td><%= equipment_maintain.maintain_reason %></td>
              <td>
                <%= equipment_maintain.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ~
                <% if equipment_maintain.end_time == "2030-01-01 00:00:00" %>
                  （维护中）
                <% else %>
                  <%= equipment_maintain.end_time.strftime("%Y-%m-%d %H:%M:%S") %>
                <% end %>
              </td>
            </tr>
            <% n = n+1 %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
