
<%= @employees.F_name %>
<%= @employees.t_duan_info.F_name %> ／
<%= @employees.t_station_info.F_name %> ／
<%= @employees.t_team_info.F_name %>

<table class="table table-border">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>身份证号</th>
      <th>考试地点（段）</th>
      <th>考试地点（站）</th>
      <th>考试地点（班）</th>
      <th>考试时间</th>
      <th>得分</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @employe_record.each do |r| %>
    <% i = i+1 %>
    <tr>
      <td><%= i %></td>
      <td>
          <%= r.t_user_info.F_name %>
      </td>
      <td>
          <%= r.t_user_info.F_id %>
      </td>

      <td>
          <%= r.t_duan_info.F_name %>
      </td>
      <td>
          <%= r.t_station_info.F_name %>
      </td>
      <td>
          <%= r.t_team_info.F_name %>
      </td>
      <td><%= r.F_time %></td>
      <td><%= r.F_score %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<script src="/assets/echarts.min.js"></script>
  <div id="main" style="width: 1000px;height:500px;margin: 40px auto 0;"></div>
   <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
    title: {
        text: '<%= @employees.F_name %>个人成绩分析'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['考试分数']
    },
    toolbox: {
        show: true,
        feature: {
            magicType: {type: ['line', 'bar']},
            saveAsImage: {}
        }
    },
    xAxis:  {
        type: 'category',
        boundaryGap: false,
        data: gon.employe_score_key
    },
    yAxis: {
        type: 'value',
        axisLabel: {
            formatter: '{value} '
        }
    },
    series: [
        {
            name:'考试分数',
            type:'line',
            data: gon.employe_score,
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }
        }
      ]
    };


            // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
</script>
