<div class="call-board-frame">
  <div class="pull-right">
    <% if current_user.permission == 1 %>
    <%= link_to("发布消息>>", new_call_board_path, :class => "btn btn-primary") %>
    <% end %>
  </div>
  <table class="table table-border">
    <thead>
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>发布者</th>
        <th>发布日期</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @call_boards.each do |c| %>
      <% i= i+1%>
      <tr>
        <td><%= i %></td>
        <td><%= link_to(c.name, call_board_path(c)) %></td>
        <td>
          <%= current_user.role  %>
        </td>
        <td><%= c.created_at %></td>
        <td>
          <%= link_to("编辑", edit_call_board_path(c),:class => "btn btn-sm btn-primary")%> |
          <%= link_to("删除", call_board_path(c),method: :delete, :class=> "btn btn-sm btn-danger")%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
