<div class="call-board-frame">
  <div class="pull-right">
    <% if current_user.permission == 1 or current_user.permission==2 %>
    <%= link_to("发布消息>>", new_call_board_path, :class => "btn btn-primary") %>
    <% end %>
  </div>
  <table class="table table-border">
    <thead>
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>发布日期</th>
        <% if current_user.permission ==1 or current_user.permission ==2 %>
          <th>管理</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @call_boards.each do |c| %>
        <% if c.user.permission == 1%>
          <% i= i+1%>
          <tr>
            <td><%= i %></td>
            <td><%= link_to(c.name, call_board_path(c)) %>  <span style="color:red;margin-left:10px;"><%= if_browsed?(current_user,c)%></span></td>
            <td><%= c.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
            <% if current_user.permission ==1%>
              <td>
                <%= link_to("编辑", edit_call_board_path(c),:class => "btn btn-sm btn-primary")%> |
                <%= link_to("删除", call_board_path(c),method: :delete,data: {confirm: "确定删除吗？"}, :class=> "btn btn-sm btn-danger")%>
              </td>
            <% elsif c.user.permission ==2 %>
              <% if current_user.role == c.user.role  %>
                <td>
                  <%= link_to("编辑", edit_call_board_path(c),:class => "btn btn-sm btn-primary")%> |
                  <%= link_to("删除", call_board_path(c),method: :delete,data: {confirm: "确定删除吗？"}, :class=> "btn btn-sm btn-danger")%>
                </td>
              <% end %>
            <% end %>

          </tr>
        <% elsif c.user.permission ==2 %>
          <% if current_user.role == c.user.role or TDuanInfo.find_by(F_name: c.user.orgnize).t_station_infoes.pluck(:F_name).include?(current_user.orgnize) %>
            <% i= i+1%>
            <tr>
              <td><%= i %></td>
              <td><%= link_to(c.name, call_board_path(c)) %></td>
              <td><%= c.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
              <% if current_user.role == c.user.role  %>
                <td>
                  <%= link_to("编辑", edit_call_board_path(c),:class => "btn btn-sm btn-primary")%> |
                  <%= link_to("删除", call_board_path(c),method: :delete,data: {confirm: "确定删除吗？"}, :class=> "btn btn-sm btn-danger")%>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
