<div class="call-board-show-head">
  <p>共<%= @browses.size%>位管理员浏览了本公告:
    <% if current_user.permission ==1 %>
      <%= link_to("查看 >>",browses_path(:call_board_id => @call_board.id))%>
    <% end %>
  </p>
</div>
<hr>
<div class="call-board-show">
  <h3><%= @call_board.name %></h3>
  <p><%= @call_board.call_board_attachments%></p>
  <p><%= simple_format(@call_board.content) %></p>
  <% n = @call_board.call_board_attachments.count %>

  <% (0..(n-1)).each do |i| %>
    <p>下载附件:<%= link_to(@call_board.call_board_attachments[i].file.file.split("/").last,"http://10.64.2.108:8033"+"#{@call_board.call_board_attachments_urls[i]}")%></p>
  <% end %>

</div>
