
<div class="pie_duan_frame">
  <div class="clear">
    <% if params[:search].present?%>
      <%= link_to("专项考核首页", t_program_info_path(:id=>params[:id],"utf8": params[:utf8],"search": params[:search],name: params[:name],"commit": params[:commit]))%> > <%= link_to("各站段易错项点统计", program_reason_info_t_program_info_path(:id=>params[:id],"utf8": params[:utf8],"search": params[:search],name: params[:name],"commit": params[:commit]))%>  > 该考点犯错考生
    <% else %>
      <%= link_to("专项考核首页", t_program_info_path(:id=>params[:id],name: params[:name]))%> > <%= link_to("各站段易错项点统计", program_reason_info_t_program_info_path(:id=>params[:id],name: params[:name]))%>  > 该考点犯错考生
    <% end %>
  </div>
  <table class="table table-border">
    <thead>
      <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>身份证号</th>
        <th>站段</th>
        <th>车站</th>
        <th>班组</th>
        <th>考试时间</th>
        <th>得分</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @records.each do |r| %>
      <% i = i+1 %>
      <tr>
        <td><%= i %></td>
        <% if r.t_user_info.present? %>
          <td>
              <%= r.t_user_info.F_name %>
          </td>
          <td>
              <%= r.t_user_info.F_id %>
          </td>
        <% else %>
          <td>信息丢失</td>
          <td>信息丢失</td>
        <% end %>
        <td>
          <% if r.t_duan_info.present? %>
            <%= r.t_duan_info.F_name %>
          <% else %>
            信息丢失
          <% end %>
        </td>
        <td>
          <% if r.t_station_info.present? %>
            <%= r.t_station_info.F_name %>
          <% else %>
            信息丢失
          <% end %>
        </td>
        <td>
          <% if r.t_team_info.present? %>
            <%= r.t_team_info.F_name %>
          <% else %>
            信息丢失
          <% end %>
        </td>
        <td><%= r.F_time %></td>
        <td><%= r.F_score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
