<div class= "pie_duan_frame">
  <div class="clear">
    <% if params[:search].present?%>
      <%= link_to("专项考核首页", t_program_info_path(:id=>params[:id],"utf8": params[:utf8],"search": params[:search],name: params[:name],"commit": params[:commit]))%> > <%= link_to("各站段专项考核参考情况",program_duan_student_info_t_program_info_path(:id=>params[:id],"utf8": params[:utf8],"search": params[:search],name: params[:name],"commit": params[:commit])) %> >
      <%= link_to(@duan.F_name,program_station_student_info_t_program_info_path(:id=>params[:id],:duan_name => params[:duan_name],"utf8": params[:utf8],"search": params[:search],name: params[:name],"commit": params[:commit])) %>

    <% else %>
      <%= link_to("专项考核首页", t_program_info_path(:id=>params[:id],name: params[:name]))%> > <%= link_to("各站段专项考核参考情况", program_duan_student_info_t_program_info_path(:id=>params[:id],name: params[:name]))%>  >
      <%= link_to(@duan.F_name,program_station_student_info_t_program_info_path(:id=>params[:id],:duan_name => params[:duan_name],name: params[:name])) %>
    <% end %>
  </div>
  <div class="row">
    <div class="pull-right range-query">
      <div class="searchtime">时间：</div>
      <div class="searchtime">
        <%= form_tag program_team_student_info_t_program_info_path(@t_program_info), method: :get do %>
          <%= text_field_tag 'search[date_from]',nil,:placeholder => time_begin(params[:search]) %>
          <%= text_field_tag 'search[date_to]',nil,:placeholder => time_end(params[:search])  %>
          <%= hidden_field_tag :name,params[:name]%>
          <%= hidden_field_tag :duan_name, params[:duan_name]%>
          <%= hidden_field_tag :station_name, params[:station_name]%>
          <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
        <% end %>
      </div>
    </div>
  </div>
  <script src="/assets/echarts.min.js"></script>
    <div class="team_chart_frame" id="main"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
      var option = {
            title: {
                text: '参考数据分析'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['未考人数', '参考人数'],
                align: 'right',
                right: 10
            },
            grid: {
                left: '3%',
                right: '4%',
                y2:120,
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                splitLine: {
                  show: false
              },
              axisTick: {
                  show: false
              },
              splitArea: {
                  show: false
              },
              axisLabel: {
                  interval: 0,
                  show: true,
                  splitNumber: 15,
                  textStyle: {
                      fontFamily: "微软雅黑",
                      fontSize: 14
                  }
                },
                data: gon.key
            }],
            yAxis: [{
                type: 'value',
                name: '人数',
                axisLabel: {
                    formatter: '{value}'
                }
            }],
            series: [{
                name: '参考人数',
                type: 'bar',
                stack: "未考人数",
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: gon.ckvalue
            }, {
                name: '未考人数',
                type: 'bar',
                stack: "未考人数",
                barMaxWidth: 50,
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: gon.wkvalue
            }]
        };


              // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        myChart.on('click', function (params) {
          window.location.assign('<%= program_team_student_info_t_program_info_path('duan_name': params[:duan_name], 'station_name': params[:station_name], "utf8": params[:utf8], "search": params[:search], "commit": params[:commit])%>&team_name=' + params.name);
        });
    </script>


  <div class="team_student_frame">
    <h4>参加考试的考生</h4>

    <table class="table table-border">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职务</th>
          <th>状态</th>
          <th>详情</th>
          <% if current_user.permission == 1%>
          <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>

          <% @student_ck.each do |c| %>
          <% s = TUserInfo.find_by(:F_id => c.F_id)%>
            <tr>
              <td style="width:20%;"><%= s.F_name %></td>
              <td style="width:40%;">
                <% if s.t_team_info.present? %>
                  <%= s.t_team_info.F_name %>:
                <% else %>
                  <span style="color:red;">未录入班组信息:</span>
                <% end %>
                <% if s.F_work_uuid.present? %>
                  <%= s.t_work_info.F_name %>
                <% else %>
                  <span style="color:red;">未录入职务信息</span>
                <% end %>
              </td>
              <td style="width:15%;">
                <div class="dropdown">
                  <button type="button" class="btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style= "width:70px;">
                    <%= s.status%>  <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu" style = "background:#ECF9F2;left:16px;">
                    <li><%= link_to("在职",set_student_status_t_user_info_path(s,:status => "在职"),method: :patch)%></li>
                    <li><%= link_to("调离",set_student_status_t_user_info_path(s,:status => "调离"),method: :patch)%></li>
                    <li><%= link_to("退休",set_student_status_t_user_info_path(s,:status => "退休"),method: :patch)%></li>
                  </ul>
                </div>
              </td>
              <% if params[:search].present? %>
              <td style="width:15%;"><%= link_to("查看详情", program_student_records_t_program_info_path(:id=> params[:id],:name=> params[:name],:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s.F_name, :user_id => s.F_id, "utf8": params[:utf8], "search": params[:search], "commit": params[:commit]))%></td>
              <% else %>
              <td style="width:15%;"><%= link_to("查看详情", student_records_t_record_infoes_path(:id=> params[:id],:name=> params[:name],:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s.F_name, :user_id => s.F_id))%></td>
              <% end %>
              <% if current_user.permission == 1%>
              <td style="width:10%;"><%= link_to("",t_user_info_path(s,:station_name => params[:station_name]),method: :delete, data: {confirm: "此操作会删除此用户所有相关信息，您确定要删除吗？"},class: "fa fa-trash")%></td>
              <% end %>
            </tr>
          <% end %>


      </tbody>
    </table>
    <h4>未参加考试的考生</h4>

    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职位</th>
          <th>状态</th>
          <th>详情</th>
          <% if current_user.permission == 1%>
          <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>

          <% @student_wk.each do |c| %>
          <% s = TUserInfo.find_by(:F_id => c.F_id)%>
            <tr>
              <td style="width:20%;"><%= s.F_name %></td>
              <td style="width:40%;">
                <% if s.t_team_info.present? %>
                  <%= s.t_team_info.F_name %>:
                <% else %>
                  <span style="color:red;">未录入班组信息:</span>
                <% end %>
                <% if s.F_work_uuid.present? %>
                  <%= s.t_work_info.F_name %>
                <% else %>
                  <span style="color:red;">未录入职务信息</span>
                <% end %>
              </td>
              <td style="width:15%;">
                <div class="dropdown">
                  <button type="button" class="btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style= "width:70px;">
                    <%= s.status%>  <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu" style = "background:#ECF9F2;left:16px;">
                    <li><%= link_to("在职",set_student_status_t_user_info_path(s,:status => "在职"),method: :patch)%></li>
                    <li><%= link_to("调离",set_student_status_t_user_info_path(s,:status => "调离"),method: :patch)%></li>
                    <li><%= link_to("退休",set_student_status_t_user_info_path(s,:status => "退休"),method: :patch)%></li>
                  </ul>
                </div>
              </td>
              <td style="width:15%;">无</td>
              <% if current_user.permission == 1%>
              <td style="width:10%;"><%= link_to("",t_user_info_path(s,:station_name => params[:station_name]),method: :delete, data: {confirm: "此操作会删除此用户所有相关信息，您确定要删除吗？"},class: "fa fa-trash")%></td>
              <% end %>
            </tr>
          <% end %>

      </tbody>
    </table>

    <h4>其他考生</h4>

    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职位</th>
          <th>状态</th>
          <th>详情</th>
          <% if current_user.permission == 1%>
          <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>

          <% @student_other.each do |c| %>
          <% s = TUserInfo.find_by(:F_id => c.F_id)%>
            <tr>
              <td style="width:20%;"><%= s.F_name %></td>
              <td style="width:40%;">
                <% if s.t_team_info.present? %>
                  <%= s.t_team_info.F_name %>:
                <% else %>
                  <span style="color:red;">未录入班组信息:</span>
                <% end %>
                <% if s.F_work_uuid.present? %>
                  <%= s.t_work_info.F_name %>
                <% else %>
                  <span style="color:red;">未录入职务信息</span>
                <% end %>
              </td>
              <td style="width:15%;">
                <div class="dropdown">
                  <button type="button" class="btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style= "width:70px;">
                    <%= s.status%>  <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu" style = "background:#ECF9F2;left:22px;">
                    <li><%= link_to("在职",set_student_status_t_user_info_path(s,:status => "在职"),method: :patch)%></li>
                    <li><%= link_to("调离",set_student_status_t_user_info_path(s,:status => "调离"),method: :patch)%></li>
                    <li><%= link_to("退休",set_student_status_t_user_info_path(s,:status => "退休"),method: :patch)%></li>
                  </ul>
                </div>
              </td>
              <% if params[:search].present? %>
              <td style="width:15%;"><%= link_to("查看详情", student_records_t_record_infoes_path(:id=> params[:id],:name=> params[:name],:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s.F_name, :user_id => s.F_id, "utf8": params[:utf8], "search": params[:search], "commit": params[:commit]))%></td>
              <% else %>
              <td style="width:15%;"><%= link_to("查看详情", student_records_t_record_infoes_path(:id=> params[:id],:name=> params[:name],:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s.F_name, :user_id => s.F_id))%></td>
              <% end %>
              <% if current_user.permission == 1%>
              <td style="width:10%;"><%= link_to("",t_user_info_path(s,:station_name => params[:station_name]),method: :delete, data: {confirm: "此操作会删除此用户所有相关信息，您确定要删除吗？"},class: "fa fa-trash")%></td>
              <% end %>
            </tr>
          <% end %>

      </tbody>
    </table>


  </div>

</div>
