<div class="pie_duan_frame">

<h4><%= link_to("新建车站账号",new_station_path, method: :get)%></h4>
<table class="table">
  <thead>
    <tr>
      <td>角色名称</td>
      <td>角色管理</td>
    </tr>
  </thead>
  <tbody>

    <% if @users.present? %>

      <tr>
        <td><%= current_user.role%></td>
        <td><%= link_to "编辑角色", edit_user_path(current_user) %></td>
      </tr>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.role %></td>
          <td><%= link_to "编辑角色", edit_user_path(u) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>
