<div class="pie_duan_frame">

<h4><%= link_to("新建站段账号",new_duan_path)%></h4>
<br>
<h4><%= link_to("新建车站账号",new_duan_station_path, method: :get)%></h4>
<table class="table">
  <thead>
    <tr>
      <td>角色名称</td>
      <td>角色管理</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% a = User.find_by(:role => "运输处")%>
      <td>运输处</td>
      <td><%= link_to "编辑角色", edit_user_path(a) %></td>

    </tr>
    <% if @users.present? %>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.role %></td>
          <td><%= link_to "编辑角色", edit_user_path(u) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>
