<div class="pie_duan_frame">
  <%= simple_form_for @user do |f| %>
    <%= f.input :role %>
    <%= f.input :orgnize, collection: TStationInfo.where(:F_duan_uuid => TDuanInfo.find_by(:F_name => current_user.orgnize).F_uuid).pluck(:F_name) %>
    <%= f.input :permission,collection: [3]%>
    <%= f.input :password %>
    <%= f.input :password_confirmation%>
    <%= f.submit "提交" ,data: {disable_with: "提交中..."}%>
  <% end %>
</div>
