
<div class="root-search-frame">
  <div class="row">
    <div class="pull-right range-query">
      <div class="searchtime">时间：</div>
      <div class="searchtime">
        <%= form_tag duan_overview_path, method: :get do %>
          <%= text_field_tag 'search[date_from]',nil,:placeholder => time_begin(params[:search])%>
          <%= text_field_tag 'search[date_to]',nil,:placeholder => time_end(params[:search]) %>
          <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="root-card-frame">
  <div class="root-card">

    <%= link_to station_ck_path(:"uf8" => params[:uf8],:"search" => params[:search],:"commit" => params[:commit]), {'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "点击查看详情" } do %>
      <div class="root-card-block">
        <i class="fa fa-building fa-4x" aria-hidden="true"></i><br>
        <div class="root-card-content">
          <strong>车站总数：<%= station%> </strong><br>
          <strong>实考车站：<%= station_ck_count %></strong>
        </div>
      </div>
    <% end %>

    <%= link_to team_ck_path(:"uf8" => params[:uf8],:"search" => params[:search],:"commit" => params[:commit]), {'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "点击查看详情" } do %>
      <div class="root-card-block">
        <i class="fa fa-users fa-4x" aria-hidden="true"></i><br>
        <div class="root-card-content">
          <strong>班组总数：<%= team %> </strong><br>
          <strong>实考班组：<%= team_ck_count %></strong>
        </div>
      </div>
    <% end %>

    <%= link_to student_ck_path(:"uf8" => params[:uf8],:"search" => params[:search],:"commit" => params[:commit]), {'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "点击查看详情" } do %>
      <div class="root-card-block">
        <i class="fa fa-user fa-4x" aria-hidden="true"></i><br>
        <div class="root-card-content">
          <strong>实训人数：<%= students %> </strong><br>
          <strong>实考人数：<%= student_ck_counts %></strong>
        </div>
      </div>
    <% end %>

    <%= link_to program_ck_path(:"uf8" => params[:uf8],:"search" => params[:search],:"commit" => params[:commit]), {'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "点击查看详情" } do %>
      <div class="root-card-block">
        <i class="fa fa-file-text fa-4x" aria-hidden="true"></i><br>
        <div class="root-card-content">
          <strong>考点总数：<%= TProgramInfo.count %> </strong><br>
          <strong>覆盖考点：<%= program_ck_count %></strong>
        </div>
      </div>
    <% end %>
    </div>
  </div>



<div class="root-data-frame">
  <div class="root-data-block">
    <script src="/assets/echarts.min.js"></script>
    <div class="root-data-people">
      <div id="main" style="width: 490px;height:335px;"></div>
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title : {
                text: '考试人数',
                subtext: '时间段内',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['未考人数','实考人数']
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '60%'],
                    data: [gon.shikao, gon.weikao],


                    label: {
                      normal: {
                        position: 'inner',
                        formatter: '{d}%',
                         textStyle: {
                            color: '#ffffff',
                            fontSize: 14
                          }
                        }
                      },

                    itemStyle: {
                        emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        <% if params[:search].present? %>
              function GetUrlPara(){
                   var url = document.location.toString();
                   var arrUrl = url.split("?");
                   var para = arrUrl[1];
                   return para;
                   };
        myChart.on('click', function (params) {
          window.location.assign('/t_station_infoes/station_student_info?'+'duan_name=<%= current_user.orgnize%>'+'&'+GetUrlPara());
        });
        <% else %>
        myChart.on('click', function (params) {
          window.location.assign('/t_station_infoes/station_student_info?'+'duan_name=<%= current_user.orgnize%>');
        });
        <% end %>
    </script>
      <% student_wk_count%>
      <% student_ck_count %>
    </div>

    <!-- 第二个饼图 -->

    <div class="root-data-score">
      <div id="chengjitongji" style="width: 490px;height:335px;"></div>
        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chengjitongji'));

        // 指定图表的配置项和数据
        var option = {
            title : {
                text: '成绩统计',
                subtext: '时间段内',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['90分以上','80分-90分','60分-80分','60分以下']
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '60%'],
                    data: [gon.nine, gon.eight, gon.six, gon.below],


                    itemStyle: {
                        emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        <% if params[:search].present? %>
        function GetUrlPara() {
            var url = document.location.toString();
            var arrUrl = url.split("?");
            var para = arrUrl[1];
            return para;
        };
        myChart.on('click', function(params) {
          window.location.assign('/t_station_infoes/station_score_info?'+'duan_name=<%= current_user.orgnize%>'+'&'+ GetUrlPara());
        });
        <% else %>
        myChart.on('click', function (params) {
          window.location.assign('/t_station_infoes/station_score_info?'+'duan_name=<%= current_user.orgnize%>');
        });
        <% end %>
        </script>
      <% score_90%><br>
      <% score_80%><br>
      <% score_60%><br>
      <% score_60_below%>
    </div>


     <!-- 第三个饼图 -->


    <div class="root-data-question">
      <div id="kaohexiangdian" style="width: 490px;height:335px;"></div>
        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('kaohexiangdian'));

        // 指定图表的配置项和数据
        var option = {
            title : {
                text: '考核项点',
                subtext: '时间段内',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ["应急处置", "正常接发车办理科目", "非正常发车办理科目", "非正常接车办理科目"]
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '60%'],
                    data: [gon.yj, gon.zc, gon.fzcfche, gon.fzcjche],

                    label: {
                      normal: {
                        position: 'inner',
                        formatter: '{d}%',
                         textStyle: {
                            color: '#ffffff',
                            fontSize: 14
                          }
                        }
                      },
                    itemStyle: {
                        emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        <% if params[:search].present? %>
        myChart.on('click', function(params){
          function GetUrlPara(){
            var url = document.location.toString();
            var arrUrl = url.split("?");
            var para = arrUrl[1];
            return para;
          };
          window.location.assign('/t_duan_infoes/duan_program_info?'+ '&' + GetUrlPara())
        });
        <% else %>
        myChart.on('click', function (params) {
          window.location.assign('/t_duan_infoes/duan_program_info');
        });
        <% end %>
        </script>
    <% program_type_percent %>
    </div>


    <!-- 第四个饼图 -->


    <div class="root-data-wrong">
      <div id="yicuokaodian" style="width: 490px;height:335px;"></div>
        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('yicuokaodian'));

        // 指定图表的配置项和数据
        var option = {
            title : {
                text: '易错项点',
                subtext: '时间段内',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ["车机联控用语不标准", "未核对阶段计划", "未通知有关人员", "未检查设备备品",
                    ]
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '60%'],
                    data: [gon.fl, gon.dc, gon.wt, gon.wz],

                    label: {
                      normal: {
                        position: 'inner',
                        formatter: '{d}%',
                         textStyle: {
                            color: '#ffffff',
                            fontSize: 14
                          }
                        }
                      },
                    itemStyle: {
                        emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        <% if params[:search].present? %>
        myChart.on('click', function(params){
          function GetUrlPara(){
            var url = document.location.toString();
            var arrUrl = url.split("?");
            var para = arrUrl[1];
            return para;
          };
          window.location.assign('/t_duan_infoes/duan_reason_info?'+ '&' + GetUrlPara())
        });
        <% else %>
        myChart.on('click', function (params) {
          window.location.assign('/t_duan_infoes/duan_reason_info');
        });
        <% end %>
        </script>
      <% reason_hot_all.first(8)%>
    </div>
  </div>
</div>
