<!--这段是饼图的外框-->
<div class="row">
      <div class="railway_station_body">
        <div class="railway-head-box">
          <div class="box-box-box">
            <%= "haha"%>
          </div>
        </div>
        <div class="col-md-6">
            <div id="main" class="railway_station_body_box3">
                 <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('main'));
                       var option = {
                          tooltip: {
                              trigger: 'item',
                              formatter: "{a} <br/>{b}: {c} ({d}%)"
                          },
                          color:['rgb(0,164,220)','rgb(0,81,108)'],
                          legend: {
                              orient: 'vertical',
                              x: 'left',
                              data:['实考','未考']
                          },
                          series: [
                              {
                                  name:'访问来源',
                                  type:'pie',
                                  radius: ['50%', '70%'],
                                  avoidLabelOverlap: false,
                                  label: {
                                      normal: {
                                          show: false,
                                          position: 'center'
                                      },
                                      emphasis: {
                                          show: true,
                                          textStyle: {
                                              fontSize: '30',
                                              fontWeight: 'bold'
                                          }
                                      }
                                  },
                                  labelLine: {
                                      normal: {
                                          show: false
                                      }
                                  },
                                  data:[
                                      {value:335, name:'实考'},
                                      {value:310, name:'未考'},
                                  ]
                              }
                          ]
                      };
                      myChart.setOption(option);
                 </script>

            </div>
            <div class="railway_station_body_box4">
              <%= "ah"%>
            </div>
        </div><!--这个是3个饼图的状态栏-->
        <div class="col-md-6">
          <div class="railway_station_body_content">
            <div class="railway_station_body_box1">
              <%= "hahh"%>
            </div>
            <div class="railway_station_body_box2">
              <%= "hahh"%>
            </div>
            <div class="railway_station_body_box2">
              <%= "hahh"%>
            </div>
          </div>
        </div><!--这个是2个饼图的状态栏-->
      </div><!--railway_station_body-->
    </div>
