<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="data-search-label">
        <%= "数据查询"%>
      </div>
    </div>
  </div><!--这个是第一个导航栏-->
  <div class="row">
    <div class="col-md-6">
      <div class="data-search-text">
        <%= "达标率统计规则，长假，调离规则；"%>
      </div>
    </div>
    <div class="col-md-8">
      <hr style="border-style: solid; border-width: 1px; margin-left:25px;">
    </div>
  </div><!--这个是对规则的解释栏-->
  <div class="row">
    <div class="col-md-2">
      <div class="data-overview">
        <%= "数据概览"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="data-station">
        <%= "参考进度"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="data-station-bar">
        <div class="progress" style="height: 25px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= @progress_reference %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @progress_reference%>%">
              <%= @progress_reference %>%
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="data-station">
        <%= "达标进度"%>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="data-station-bar">
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @progress_standard %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress_standard %>%;">
               <%= @progress_standard %>%
            </div>
          </div>
        </div>
      </div>
  </div><!--这个是第二个进度条-->
  <div class="row"><!--这个是详细信息展示栏-->
    <div class="col-md-12">
      <div class="data-box">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <h5>未参考 | 未达标  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h5></a>
            </li>
            <li role="presentation">
              <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><h5>已参考 | 未达标  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h5></a>
            </li>
            <li role="presentation">
              <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><h5>已达标  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h5></a>
            </li>
            <li role="presentation">
              <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><h5>状态设置  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h5></a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="exam-table">
                <table class="table table-bordered">
                  <tr>
                    <th class="exam-text"><%= "车站名称"%></th>
                    <th class="exam-text"><%= "未参考人数"%></th>
                    <th class="exam-text"><%="时间"%></th>
                    <th class="exam-text"><%="操作"%></th>
                  </tr>
                  <tr>
                    <td class="exam-text-small"><%= "北京西车务段"%></td>
                    <td class="exam-text-small"><%= "20"%></td>
                    <td class="exam-text-small"><%= "2018-04-04"%></td>
                    <td class="exam-text-small"><%= "查看详情"%></td>
                  </tr>
                </table>
              </div>
            </div><!--未参考，未达标-->

            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="exam-table">
                <table class="table table-bordered">
                  <tr>
                    <th class="exam-text"><%= "车站名称"%></th>
                    <th class="exam-text"><%= "已参考人数"%></th>
                    <th class="exam-text"><%= "未达标人数"%></th>
                    <th class="exam-text"><%="时间"%></th>
                    <th class="exam-text"><%="操作"%></th>
                  </tr>
                  <tr>
                    <td class="exam-text-small"><%= "北京西车务段"%></td>
                    <td class="exam-text-small"><%= "50"%></td>
                    <td class="exam-text-small"><%= "20"%></td>
                    <td class="exam-text-small"><%= "2018-04-04"%></td>
                    <td class="exam-text-small"><%= "查看详情"%></td>
                  </tr>
                </table>
              </div>
            </div><!--已参考，未达标-->
            <div role="tabpanel" class="tab-pane" id="messages">
              <div class="exam-table">
                <table class="table table-bordered">
                  <tr>
                    <th class="exam-text"><%= "车站名称"%></th>
                    <th class="exam-text"><%= "已完成人数"%></th>
                    <th class="exam-text"><%="时间"%></th>
                    <th class="exam-text"><%="操作"%></th>
                  </tr>
                  <tr>
                    <td class="exam-text-small"><%= "北京西车务段"%></td>
                    <td class="exam-text-small"><%= "60"%></td>
                    <td class="exam-text-small"><%= "2018-04-04"%></td>
                    <td class="exam-text-small"><%= "查看详情"%></td>
                  </tr>
                </table>
              </div>
            </div><!--已参考，已达标-->
            <div role="tabpanel" class="tab-pane" id="settings">
              <div class="exam-table">
                <table class="table table-bordered">
                  <tr>
                    <th class="exam-text"><%= "车站名称"%></th>
                    <th class="exam-text"><%="总人数"%></th>
                    <th class="exam-text"><%="操作"%></th>
                  </tr>
                  <tr>
                    <td class="exam-text-small"><%= "北京西车务段"%></td>
                    <td class="exam-text-small"><%= "100"%></td>
                    <td class="exam-text-small"><%= "查看详情"%></td>
                  </tr>
                </table>
              </div>
            </div><!--状态设置-->
          </div><!--tab panes-->
        </div>
      </div><!--这个是data-box-->
    </div>
  </div><!--这个是详细信息展示栏-->

  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <div class="data-skip-button">
            <%= link_to("数据图表分析一览", duan_overview_path)%>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div><!--container-fluid-->
