<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="data-search-label">
        <%= "数据查询"%>
      </div>
    </div>
  </div><!--这个是第一个导航栏-->
  <div class="row">
    <div class="col-md-6">
      <div class="data-search-text">
        <%= "达标率统计规则，长假，调离规则；"%>
      </div>
    </div>
    <div class="col-md-8">
      <hr style="border-style: solid; border-width: 1px; margin-left:25px;">
    </div>
  </div><!--这个是对规则的解释栏-->
  <div class="row">
    <div class="col-md-2">
      <div class="data-overview">
        <%= "数据概览"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="data-station">
        <%= "车站参考进度"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="data-station-bar">
        <div class="progress" style="height: 25px;">
          <div id="myBar" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
              60%
          </div>
        </div>
        <script>
            function() {
              var elem = document.getElementById("myBar");
              var width = 1;
              var id = setInterval(frame, 10);
              function frame() {
                if (width >= 60) {
                  clearInterval(id);
                } else {
                  width++;
                  elem.style.width = width + '%';
                }
              }
            }
          </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="data-station">
        <%= "车站达标进度"%>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="data-station-bar">
          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
               <span class="sr-only">80% Complete (success)</span>
               80%
            </div>
          </div>
        </div>
      </div>
  </div><!--这个是第二个进度条-->
  <div class="row">
    <div class="col-md-12">
      <div class="data-box">
        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">未达标</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已参考，未达标</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">已达标</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">状态设置</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">...</div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
          </div>

        </div>
      </div><!--这个是data-box-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <div class="data-skip-button">
        <%= link_to("数据图表分析一览", duan_overview_path)%>
      </div>
    </div>
  </div>
</div><!--container-fluid-->
