<div class = "welcome_frame">
  <div class="row">
    <div class="pull-right range-query">
      <div class="searchtime">时间：</div>
      <div class="searchtime">
        <%= form_tag program_ck_path, method: :get do %>
          <%= text_field_tag 'search[date_from]'%>
          <%= text_field_tag 'search[date_to]' %>
          <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
        <% end %>
      </div>
    </div>
  </div>

  <h4 style="color:#c0392b;">未覆盖考点：</h4>
  <% @program_types.each do |type| %>
    <div class="station-card-head">
      <%= link_to program_ck_path(:program_type => type,"utf8": params[:utf8],"search": params[:search],"commit": params[:commit]) do  %>
        <h6 style="color:#c0392b;"><%= type %> >><h6>
      <% end %>
    </div>
      <% if type == params[:program_type]%>
        <div class="station-card" >
          <% if @wk_programs.present? %>
            <% @wk_programs.each do |program| %>
              <div class="station-card2">
                <%= program%>
              </div>
            <% end %>
          <% else %>
            <span>
              考点全覆盖
            </span>
          <% end %>
        </div>
      <% end %>
  <% end %>

  <h4 style="color:#4444C1;">已覆盖考点：</h4>

  <% @program_types.each do |type| %>
    <div class="station-card-head">
      <%= link_to program_ck_path(:program_type => type,"utf8": params[:utf8],"search": params[:search],"commit": params[:commit]) do  %>
        <%= type %>>> <br>
      <% end %>
    </div>
      <% if type == params[:program_type]%>
        <div class="station-card" >
          <% if @ck_programs.present? %>
            <% @ck_programs.each do |program| %>
              <div class="station-card2">
                <%= program%>
              </div>
            <% end %>
          <% else %>
            <span>
              考点未涉及
            </span>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
