<div class = "welcome_frame">
  <h4 style="color:#4444C1;">未覆盖考点：</h4>

  <% @program_types.each do |type| %>
    <div class="station-card-head">
      <%= link_to program_ck_path(:program_type => type) do  %>
        <%= type %>(<%= @wk_programs.size%>) >> <br>
      <% end %>
    </div>
      <% if type == params[:program_type]%>
        <div class="station-card" >
          <% if @wk_programs.present? %>
            <% @wk_programs.each do |program| %>
              <div class="station-card2">
                <%= program%>
              </div>
            <% end %>
          <% else %>
            <span>
              考点全覆盖
            </span>
          <% end %>
        </div>
      <% end %>
  <% end %>

  <h4 style="color:#4444C1;">已覆盖考点：</h4>

  <% @program_types.each do |type| %>
    <div class="station-card-head">
      <%= link_to program_ck_path(:program_type => type) do  %>
        <%= type %>(<%= @ck_programs.size%>) >> <br>
      <% end %>
    </div>
      <% if type == params[:program_type]%>
        <div class="station-card" >
          <% if @ck_programs.present? %>
            <% @ck_programs.each do |program| %>
              <div class="station-card2">
                <%= program%>
              </div>
            <% end %>
          <% else %>
            <span>
              考点未涉及
            </span>
          <% end %>
        </div>
      <% end %>
  <% end %>

</div>
