<div class="row">
    <div class="pull-right range-query">
      <%= form_tag station_ck_path, method: :get do %>
        <%= text_field_tag 'search[date_from]'," 开始时间"%>
        <%= text_field_tag 'search[date_to]',"结束时间" %>
        <%= submit_tag "搜索", class: "btn search-button"%>
    <% end %>
    </div>
  </div>
<div class = "welcome_frame">
  <!-- 关于未参考的车务段： -->
  <h4 style="color:#4444C1;">未参考车站：</h4>


    <% if @wk_stations.present? %>
      <% @wk_stations.each do |duan,stations|%>
        <p ><%= TDuanInfo.find_by(:F_uuid => duan).F_name %></p>
        <div class="station-card" >
          <% stations.each do |station| %>
            <div class="station-card1">
              <%= station.F_name%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <span>所有车站均已参加了考试！</span>
    <% end %>


    <!-- 关于已参考的车站： -->
  <h4 style="color:#4444C1;">已参考车站：</h4>


    <% if @ck_stations.present? %>
      <% @ck_stations.each do |duan,stations|%>
        <p ><%= TDuanInfo.find_by(:F_uuid => duan).F_name %></p>
        <div class="station-card" >
          <% stations.each do |station| %>
            <div class="station-card1">
              <%= station.F_name%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <span>所有车站均已参加了考试！</span>
    <% end %>
</div>
