  <div class="row">
    <div class="pull-right range-query">
      <div class="searchtime">时间：</div>
      <div class="searchtime">
        <%= form_tag student_ck_path, method: :get do %>
          <%= text_field_tag 'search[date_from]'%>
          <%= text_field_tag 'search[date_to]' %>
          <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
        <% end %>
      </div>
    </div>
  </div>

  <table class="table table-boldered">
      <thead>
        <tr>
          <td>姓名</td>
          <td>部门</td>
          <td>职务</td>
          <td>最近一次考试时间</td>
          <td>考试状态</td>
        </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to(user.F_name, '#')%>
                </td>
                <td>
                  <%= user.t_duan_info.F_name %> /
                  <%= user.t_station_info.F_name %> /
                  <%= user.t_team_info.F_name %>
                </td>
                <td>
                  <%= user.t_work_info.F_name %>
                </td>
                  <% if user.t_record_infoes.present? %>
                  <td>
                    <%= user.t_record_infoes.order("F_time DESC").pluck(:F_time).first %>
                  </td>
                  <td>
                      <p style=" background-color: #d9534f"> <%= "已考" %> </p>
                  </td>
                  <% else %>
                  <td></td>
                  <td>
                      <p style=" background-color: #56b83d"> <%= "未考" %> </p>
                  </td>
                  <% end %>
              </tr>
          <% end %>
      </tbody>
  </table>

  <div class="pull-right">
      <%= paginate @users %>
  </div>
