<%= simple_form_for @t_baogao_input do |f| %>
  <label>此内容属于几月份报告：</label><br>
  <%= f.select :baogao_time, {"一月" => "2018-01-15 00:00:00","二月" => "2018-02-15 00:00:00","三月" => "2018-03-15 00:00:00","四月" => "2018-04-15 00:00:00",
    "五月" => "2018-05-15 00:00:00","六月" => "2018-06-15 00:00:00","七月" => "2018-07-15 00:00:00","八月" => "2018-08-15 00:00:00",
    "九月" => "2018-09-15 00:00:00","十一月" => "2018-10-15 00:00:00","十月" => "2018-11-15 00:00:00","十二月" => "2018-12-15 00:00:00"} %><br><br>
  <label>所属板块：</label><br>
  <%= f.select :title,["基本情况","好的方面","存在问题","下月重点工作"] %>
  <%= f.input :content, as: :ckeditor,label: "文字部分" %>

  <label> 附件图(可一次选择多个文件)</label>

  <%= f.file_field :baogao_attachment,multiple: true, as: :file %><br>
  <%= f.submit "提交",:data => {:disable_with => "提交中..."} %>
<% end %>
