

<div class = "welcome_frame">
  <% if current_user.permission == 1 %>
    <div class="">
      <a href="/">首页</a> > <a href="/t_duan_infoes">所有站段</a> > <%= @duan.F_name %>
    </div>
    <h3>车站 (共计：<%= @stations.size%>个)</h3><hr>
      <% @stations.each do |station|%>
        <%= link_to team_student_info_t_team_infoes_path(:duan_name => params[:duan_name],:station_name => station.F_name,"utf8": params[:utf8], "search": params[:search], "commit": params[:commit]) do  %>
          <button type="button" name="name">
            <%= station.F_name %>
            <% if @station_name.include?(station.F_name) %>
              <i style = "color: red;">(维护中)</i>
            <% end %>
          </button>
        <% end %>
      <% end %>
  <% elsif current_user.permission ==2 %>
    <div class="">
      <a href="/">首页</a> > <a href="/t_duan_infoes">当前站段</a> > <%= current_user.orgnize %>
    </div>
    <h3>车站 (共计：<%= @stations.size%>个)</h3><hr>
      <% @stations.each do |station|%>
        <%= link_to team_student_info_t_team_infoes_path(:duan_name => current_user.orgnize,:station_name => station.F_name,"utf8": params[:utf8], "search": params[:search], "commit": params[:commit]) do  %>
          <button type="button" name="name">
            <%= station.F_name %>
            <% if @station_name.include?(station.F_name) %>
              <i style = "color: red;">(维护中)</i>
            <% end %>
          </button>
        <% end %>
      <% end %>
  <% end %>
</div>
