<div class="container-fluid">
<!--这个是时间搜索框-->
<div class="row">
  <div class="col-md-2">
      <div class="overall-data">
        <%= "整体数据概览" %>
      </div>
    </div>
      <div class="col-md-6 col-md-offset-4">
        <div class="pull-right range-query">
          <div class="searchtime">时间：</div>
          <div class="searchtime">
              <%= form_tag xcf_general_overview_path, method: :get do %>
                <%= text_field_tag 'search[date_from]',nil,:placeholder => time_begin(params[:search])%>
                <%= text_field_tag 'search[date_to]',nil,:placeholder => time_end(params[:search]) %>
                <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
              <% end %>
          </div>
        </div>
      </div>
  </div><!--这个是时间搜索-->
<!--这个是第一行的数据展示-->
<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-padding">
        <div class="box-text">
          <%= "考生合格率分析"%>
          <br>
        </div>
        <div id="exam-xcf" style="height:572px;"></div>
        <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('exam-xcf'));
         // 基于准备好的dom,初始化echarts实例
         option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['合格', '不合格']
                    },
                    grid: {
                        top: 50,
                        width: '50%',
                        bottom: 0,
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01],

                    },
                    yAxis: {
                        type: 'category',
                        data: gon.hege_duan_key
                    },
                    series: [
                        {
                            name: '合格',
                            type: 'bar',
                            data: gon.hege_duan_value
                        },
                        {
                            name: '不合格',
                            type: 'bar',
                            data: gon.buhege_duan_value
                        },
                        {
                            type:'pie',
                            radius: ['0', '30%'],
                            center: ['79%','25%'],
                            data:[
                                gon.hege,
                                gon.buhege
                            ]
                        }
                    ]


                };
         myChart.setOption(option);
         </script>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box1">
      <div class="box1-padding">
        <div class="box1-text">
            <%= "合格率表格数据分析"%>
            <br>
        </div>
        <div class="box1-form">
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th class="exam-text" style="width:30%;"><%= "站段"%></th>
                <th class="exam-text"><%= "不合格人数"%></th>
                <th class="exam-text"><%="合格人数"%></th>
                <th class="exam-text" style="width:20%;"><%="操作"%></th>
              </tr>
            </thead>
            <tbody>
              <!-- <% (1..20).each do |n| %>
              <tr>

                  <td><%= n%></td>

              </tr>
              <% end %> -->
              <% @student_hege.each do |key,value| %>
                <tr>
                  <td class="exam-text-small"><%= key %></td>
                  <td class="exam-text-small"><%= @student_buhege[key] %></td>
                  <td class="exam-text-small"><%= value %></td>
                  <td class="exam-text-small"><%= link_to("查看详情", "/") %></td>
                </tr>
              <% end %>
            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div><!--这个是饼图的附属表格-->
</div><!--第一个饼图row-->
<!--第二个饼图row-->
      <div class="row">
        <div class="col-md-8">
          <div class="box">
            <div class="box-padding">
              <div class="box-text">
                <%= "考生考题达标率分析"%>
              </div>
              <div id="exam-xcf-1" style="height:572px;"></div>
              <script type="text/javascript">
              var myChart = echarts.init(document.getElementById('exam-xcf-1'));
               // 基于准备好的dom,初始化echarts实例
               option = {
                          tooltip: {
                              trigger: 'axis',
                              axisPointer: {
                                  type: 'shadow'
                              }
                          },
                          legend: {
                              data: ['考题达标率100%', '考题达标率80% ~ 100%','考题达标率60% ~ 80%','考题达标率低于60%']
                          },
                          grid: {
                              top: 50,
                              width: '50%',
                              bottom: 0,
                              containLabel: true
                          },
                          xAxis: {
                              type: 'value',
                              boundaryGap: [0, 0.01],

                          },
                          yAxis: {
                              type: 'category',
                              data: gon.dabiao_duan_key
                          },
                          series: [
                              {
                                  name: '考题达标率100%',
                                  type: 'bar',
                                  data: gon.dabiao_duan_100
                              },
                              {
                                  name: '考题达标率80% ~ 100%',
                                  type: 'bar',
                                  data: gon.dabiao_duan_80
                              },
                              {
                                  name: '考题达标率60% ~ 80%',
                                  type: 'bar',
                                  data: gon.dabiao_duan_60
                              },
                              {
                                  name: '考题达标率低于60%',
                                  type: 'bar',
                                  data: gon.dabiao_duan_60_below
                              },
                              {
                                  type:'pie',
                                  radius: ['0', '30%'],
                                  center: ['79%','25%'],
                                  data:[
                                    gon.dabiao_100,
                                    gon.dabiao_80,
                                    gon.dabiao_60,
                                    gon.dabiao_60_below
                                  ]
                              }
                          ]


                      };
               myChart.setOption(option);
               </script>
            </div>
          </div>
        </div>
                <div class="col-md-4">
                  <div class="box1">
                    <div class="box1-padding">
                      <div class="box1-text">
                        <%= "考生考题达标率表格数据分析"%>
                      </div>
                      <div class="box1-form">
                        <table class="table table-bordered">
                          <tr>
                            <th class="exam-text" style="width:30%;"><%= "站段"%></th>

                            <th class="exam-text"><%= "考生考题达标率60% ~ 80%"%></th>
                            <th class="exam-text"><%="考生考题达标率低于60%"%></th>
                            <th class="exam-text" style="width:20%;"><%="操作"%></th>
                          </tr>
                          <% @dabiao_duan_60.each do |key,value| %>
                            <tr>
                              <td class="exam-text-small"><%= key %></td>

                              <td class="exam-text-small"><%= value %></td>
                              <% if @dabiao_duan_60_below.keys.include?(key) %>
                                <td class="exam-text-small"><%= @dabiao_duan_60_below[key] %></td>
                              <% end %>
                              <td class="exam-text-small"><%= link_to("查看详情", "/")%></td><!--进入到 all_examinee的页面-->
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    </div>
                  </div>
                </div><!--这个是饼图的附属表格-->
      </div><!--第二个饼图row-->
</div><!--container-fulid-->
