<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="railway_details">
        <div class="row">
          <div class="col-md-2">
            <div class="railway_title">
              <%= "北京车务段详情"%>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-4">
            <div class="pull-right range-query">
              <div class="searchtime">时间：</div>
              <div class="searchtime">
                  <%= form_tag baogao_path, method: :get do %>
                    <%= text_field_tag 'search[date_from]',nil%>
                    <%= text_field_tag 'search[date_to]',nil %>
                    <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="railway_body">
          <div class="railway_body_title">
            <%= "天津站"%>
          </div>
            <table class="table table-bordered">
              <tr>
                <th class="exam-text"><%= "班组名称"%></th>
                <th class="exam-text"><%= "未参考人员"%></th>
                <th class="exam-text"><%= "人员状态"%></th>
              </tr>
              <tr>
                <td class="exam-text-small"><%= "北京西车务段"%></td>
                <td class="exam-text-small"><%= "20"%></td>
                <td class="exam-text-small"><%= "70"%></td>
              </tr>
            </table>

            <div class="railway_body_title"><!--这段可删除,测试用途-->
              <%= "天津站"%>
            </div>
              <table class="table table-bordered">
                <tr>
                  <th class="exam-text"><%= "班组名称"%></th>
                  <th class="exam-text"><%= "未参考人员"%></th>
                  <th class="exam-text"><%= "人员状态"%></th>
                </tr>
                <tr>
                  <td class="exam-text-small"><%= "北京西车务段"%></td>
                  <td class="exam-text-small"><%= "20"%></td>
                  <td class="exam-text-small"><%= "70"%></td>
                </tr>
              </table>
        </div><!--railway_body-->
        <div class="railway_back_button">
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  <%= "返回上一层"%>
        </div>
      </div><!--railway_details-->
    </div>
  </div>
</div>
