<nav class="navbar navbar-default" role="navigation">

	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="/">车务系统实训管理分析平台</a>
      </div>

			<div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">


					<% if current_user && current_user.role == "运输处" %>
				  	<li class="active"><a href="/ju_users">角色管理</a></li>
					<% elsif current_user && current_user.permission == 2 %>
						<li class="active"><a href="/duan_users">角色管理</a></li>
					<% end %>

      		<li><a href="/t_duan_infoes">组织机构</a></li>
          <li><a href="/call_boards">公告</a></li>
					<% if current_user.permission == 1%>
					  <li><a href="/duan_call_boards">站段公告</a></li>
						<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
								专项考核
		          </a>
		          <ul class="dropdown-menu">
								<% TProgramInfo.all.each do |p| %>
									<li>
										<% if params[:search].present? %>
										  <%= link_to(p.F_name,t_program_info_path(p,:name => p.F_name,:"uf8" => params[:uf8],:"search" => params[:search],:"commit" => params[:commit] ))%>
										<% else %>
	                    <%= link_to(p.F_name,t_program_info_path(p,:name => p.F_name))%>
										<% end %>
									</li>
								<% end %>
		          </ul>
	          </li>
					<% end %>
					<li><%= link_to("个人信息分析",employees_path)%></li>

    		</ul>



      <div class="nav navbar-nav navbar-right login-block">
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %> </li>
          <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好，<%=current_user.role %>
             <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
						<li><%= link_to("网站更新记录",update_note_path)%></li>

						<!-- <li class="divider"></li>
						<li><%= link_to("时长赋值",time_length_t_record_infoes_path,method: :patch,data: {comfirm: "确定更新吗？"})%></li> -->
            <li class="divider"></li>
            <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
        <% end %>
      </div>
    </div>
	</div>
</nav>
