<table class="table table-border">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>身份证号</th>
      <th>考试地点</th>
      <th>考试时间</th>
      <th>时长</th>
      <th>得分</th>
      <th>考试详情</th>
      <th>录像回放</th>
      <% if current_user.role == "运输处" %>
      <th>操作</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @records.each do |r| %>
    <% i = i+1 %>
    <tr>
      <td><%= i %></td>
      <td>
          <%= r.t_user_info.F_name %>
      </td>
      <td>
          <%= r.t_user_info.F_id %>
      </td>

      <td>
          <%= r.t_duan_info.F_name %> /
          <%= r.t_station_info.F_name %> /
          <% if r.t_team_info.present? %>
          <%= r.t_team_info.F_name %>
          <% end %>
      </td>
      <td><%= r.F_time %></td>
      <td><%= time_longth(r) %></td>
      <td><%= r.F_score %></td>
      <td>
        <%= link_to("考试详情", record_details_t_record_detail_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name=> params[:team_name],:user_name => params[:user_name],:user_id => params[:user_id],:record_uuid=> r.F_uuid, "utf8": params[:utf8], "search": params[:search], "commit": params[:commit]) )%>
      </td>
      <td>
        <a id="player<%= i%>"  href="http://10.64.2.108:1000/<%= r.F_record%>">播放录像</a>

        <script type="text/javascript">
         flowplayer(
            "player"+<%= i%>,
            "/assets/player/flowplayer.commercial-3.2.6-dev.swf",{
              clip: {
                autoPlay: true,
                autoBuffering: true ,
                playlist: [//播放列表
                       {
                           url: "http://10.64.2.108:1000/play1.png",//默认显示图片（如果没有这显示播放视频的第一个画面）
                           scaling: 'orig'//缩放
                       },
                       {
                          //  url: url,//需要播放的文件
                           url: "http://10.64.2.108:1000/<%= r.F_record%>",
                           autoPlay: false,
                           provider: 'http',
                           autoBuffering: true
                       }
                   ],
                   plugins: {
                       controls: {
                           height: 24, //功能条高度
                           zIndex: 1,
                           fontColor: '#ffffff',
                           timeFontColor: '#333333',
                           play:true, //开始按钮
                           volume: true, //音量按钮
                           mute: true, //静音按钮
                           stop: true,//停止按钮
                           fullscreen: true, //全屏按钮
                           scrubber: true,//进度条
                           time: true, //是否显示时间信息
                           autoHide: true, //功能条是否自动隐藏
                           backgroundColor: '#aedaff', //背景颜色
                           backgroundGradient: [0.1, 0.1, 1.0], //背景颜色渐变度（等分的点渐变）
                           opacity: 0.5, //功能条的透明度
                           borderRadius: '30',//功能条边角
                           tooltips: {
                               buttons: true,//是否显示
                               fullscreen: '全屏',//全屏按钮，鼠标指上时显示的文本
                               stop:'停止',
                               play:'开始',
                               volume:'音量',
                               mute: '静音',
                           }
                       }
                   }
              }
            }
        );
        </script>
      </td>

      <% if current_user.role == "运输处" %>
        <td>
          <%= link_to("", t_record_info_path(r,:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name=> params[:team_name],:user_name => params[:user_name],:user_id => params[:user_id]),method: :delete,:data => {confirm: "你确定要删除吗？"},class: "fa fa-trash" )%>
        </td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>
