<div class="pie_duan_frame">

  <div class="clear">
    <% if current_user.permission == 1%>
      <% if params[:search].present? %>
        <a href="/">首页</a> > <%= link_to("各站段参考情况", duan_student_info_t_duan_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit])) %> >
        <%= link_to(@duan.F_name, station_student_info_t_station_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name)) %> >
        <%= link_to(@station.F_name, team_student_info_t_team_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name, 'station_name': @station.F_name)) %>
      <% else%>
        <a href="/">首页</a> > <a href="/t_duan_infoes/duan_student_info">各站段参考情况</a> > <a href="/t_station_infoes/station_student_info?duan_name=<%= @duan.F_name%>"><%= @duan.F_name %></a> > <a href="/t_team_infoes/team_student_info?duan_name=<%=@duan.F_name%>&station_name=<%=@station.F_name%>"><%= @station.F_name%></a> >
      <% end %>
    <% elsif current_user.permission == 2 %>
      <% if params[:search].present? %>
        <a href="/">首页</a> >
        <%= link_to(@duan.F_name, station_student_info_t_station_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name)) %> >
        <%= link_to(@station.F_name, team_student_info_t_team_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name, 'station_name': @station.F_name)) %>
      <% else%>
        <a href="/">首页</a> >  <a href="/t_station_infoes/station_student_info?duan_name=<%= @duan.F_name%>"><%= @duan.F_name %></a> > <a href="/t_team_infoes/team_student_info?duan_name=<%=@duan.F_name%>&station_name=<%=@station.F_name%>"><%= @station.F_name%></a> >
      <% end %>
    <% elsif current_user.permission == 3 %>
      <% if params[:search].present? %>
        <a href="/">首页</a> >
        <%= link_to(@station.F_name, team_student_info_t_team_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name, 'station_name': @station.F_name)) %>
      <% else%>
        <a href="/">首页</a> >  <a href="/t_team_infoes/team_student_info?duan_name=<%=@duan.F_name%>&station_name=<%=@station.F_name%>"><%= @station.F_name%></a> >
      <% end %>
    <% end %>
    <% if @team.present? %>
      <%=@team.F_name %>:
    <% end %>
    <%=@students.first.F_name%>
  </div>
  <%= render "player"%>
  <hr>
  <div class="text-right">
    <b>总练习时长: <%= sum_time_longth(@records)%></b>
  </div>

</div>
<script src= "/assets/player/flowplayer-3.2.8.min.js"></script>
