<tr>
  <td><%= s.F_name %></td>
  <td>
    <% if s.t_team_info.present? %>
      <%= s.t_team_info.F_name %>:
    <% else %>
      <span style="color:red;">未录入班组信息:</span>
    <% end %>
    <% if s.F_work_uuid.present? %>
      <%= s.t_work_info.F_name %>
    <% else %>
      <span style="color:red;">未录入职务信息</span>
    <% end %>
  </td>
    <td><%= s.F_score %></td>
    <% if params[:search].present? %>
    <td><%= link_to("查看详情", score_records_t_record_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s.F_name, :user_id => s.F_id, "utf8": params[:utf8], "search": params[:search], "commit": params[:commit]))%></td>
    <% else %>
    <td><%= link_to("查看详情", score_records_t_record_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s.F_name, :user_id => s.F_id))%></td>
    <% end %>
  </tr>
