<div class= "pie_duan_frame">
  <div class="clear">
    <% if current_user.permission == 1%>
      <% if params[:search].present? %>
        <a href="/">首页</a> > <%= link_to("各站段参考情况", duan_student_info_t_duan_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit])) %> >
        <%= link_to(@duan.F_name, station_student_info_t_station_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name)) %> > <%= @station.F_name%>
        (实训平台状态:
        <%= link_to(render_station_status(@time_interval,@station.F_uuid),"#",class: "btn-sm btn-danger") %>
        )
      <% else %>
        <a href="/">首页</a> > <a href="/t_duan_infoes/duan_student_info">各站段参考情况</a> > <a href="/t_station_infoes/station_student_info?duan_name=<%= @duan.F_name%>"><%= @duan.F_name %></a> > <%= @station.F_name%>
        (实训平台状态:
          <% if current_user.role != "集团公司" && current_user.role != "研发中心" %>
            <%= link_to(render_station_status(@time_interval,@station.F_uuid),equipment_maintain_edit_t_station_info_path(@station,:duan_name => params[:duan_name],:station_name => params[:station_name]),class: "btn-sm btn-danger") %>
          <% else %>
            <%= link_to(render_station_status(@time_interval,@station.F_uuid),"#",class: "btn-sm btn-danger") %>
          <% end %>
        )
      <% end %>
    <% elsif current_user.permission == 2 %>
      <% if params[:search].present? %>
        <a href="/">首页</a> >
        <%= link_to(@duan.F_name, station_student_info_t_station_infoes_path("utf8": params[:utf8], "search": params[:search], "commit": params[:commit], 'duan_name': @duan.F_name)) %> > <%= @station.F_name%>
        (实训平台状态:
        <%= link_to(render_station_status(@time_interval,@station.F_uuid),"#",class: "btn-sm btn-danger") %>
        )
      <% else %>
        <a href="/">首页</a> ><a href="/t_station_infoes/station_student_info?duan_name=<%= @duan.F_name%>"><%= @duan.F_name %></a> > <%= @station.F_name%>
        (实训平台状态:
          <% if current_user.role != "集团公司" && current_user.role != "研发中心" %>
            <%= link_to(render_station_status(@time_interval,@station.F_uuid),equipment_maintain_edit_t_station_info_path(@station,:duan_name => params[:duan_name],:station_name => params[:station_name]),class: "btn-sm btn-danger") %>
          <% else %>
            <%= link_to(render_station_status(@time_interval,@station.F_uuid),"#",class: "btn-sm btn-danger") %>
          <% end %>
        )
      <% end %>
    <% elsif current_user.permission == 3 %>
      <% if params[:search].present? %>
        <a href="/">首页</a> >
        <%= @station.F_name%>
        (实训平台状态:
        <%= link_to(render_station_status(@time_interval,@station.F_uuid),"#",class: "btn-sm btn-danger") %>
        )
      <% else %>
        <a href="/">首页</a>  > <%= @station.F_name%>
        (实训平台状态:
          <% if current_user.role != "集团公司" && current_user.role != "研发中心" %>
            <%= link_to(render_station_status(@time_interval,@station.F_uuid),equipment_maintain_edit_t_station_info_path(@station,:duan_name => params[:duan_name],:station_name => params[:station_name]),class: "btn-sm btn-danger") %>
          <% else %>
            <%= link_to(render_station_status(@time_interval,@station.F_uuid),"#",class: "btn-sm btn-danger") %>
          <% end %>
        )
      <% end %>
    <% end %>

  </div>
  <div class="row">
    <div class="pull-right range-query">
      <div class="searchtime">时间：</div>
      <div class="searchtime">
        <%= form_tag team_student_info_t_team_infoes_path, method: :get do %>
          <%= text_field_tag 'search[date_from]',nil,:placeholder => time_begin(params[:search])%>
          <%= text_field_tag 'search[date_to]',nil,:placeholder => time_end(params[:search]) %>
          <%= hidden_field_tag :duan_name, params[:duan_name]%>
          <%= hidden_field_tag :station_name, params[:station_name]%>
          <%= submit_tag "搜索", id:"time_id",class: "btn search-button"%>
        <% end %>
      </div>
    </div>
  </div>
  <script src="/assets/echarts.min.js"></script>
    <div class="team_chart_frame" id="main"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
      var option = {
            title: {
                text: '参考数据分析'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['未考人数', '参考人数'],
                align: 'right',
                right: 10
            },
            grid: {
                left: '3%',
                right: '4%',
                y2:120,
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                splitLine: {
                  show: false
              },
              axisTick: {
                  show: false
              },
              splitArea: {
                  show: false
              },
              axisLabel: {
                  interval: 0,
                  show: true,
                  splitNumber: 15,
                  textStyle: {
                      fontFamily: "微软雅黑",
                      fontSize: 14
                  }
                },
                data: gon.key
            }],
            yAxis: [{
                type: 'value',
                name: '人数',
                axisLabel: {
                    formatter: '{value}'
                }
            }],
            series: [{
                name: '参考人数',
                type: 'bar',
                stack: "未考人数",
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: gon.ckvalue
            }, {
                name: '未考人数',
                type: 'bar',
                stack: "未考人数",
                barMaxWidth: 50,
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: gon.wkvalue
            }]
        };


              // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        <% if params[:search].present? %>
        myChart.on('click', function (params) {
          window.location.assign('<%= team_student_info_t_team_infoes_path('duan_name': params[:duan_name], 'station_name': params[:station_name], "utf8": params[:utf8], "search": params[:search], "commit": params[:commit])%>&team_name=' + params.name);
        });
        <% else %>
        myChart.on('click', function (params) {
          window.location.assign('<%= team_student_info_t_team_infoes_path('duan_name': params[:duan_name], 'station_name': params[:station_name])%>&team_name=' + params.name);
        });
        <% end %>
    </script>


  <div class="team_student_frame">
    <h4>参加考试的考生</h4>

    <table class="table table-border">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职务</th>
          <th>时长</th>
          <th>状态</th>
          <th>详情</th>
          <% if current_user.orgnize == "运输处"%>
            <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>

          <% @student_ck.each do |c| %>
          <% s_station = TUserInfo.where(:F_id => c.F_id,:F_station_uuid => @station.F_uuid) %>
          <% team_uuid = (s_station.pluck(:F_team_uuid)&@team_uuid_array)[0] %>
          <% s = s_station.find_by(:F_team_uuid => team_uuid) %>
            <tr>
              <% if s.present? %>
                <td><%= s.F_name %></td>
                <td><%= s.t_team_info.F_name %>:
                <%= s.t_work_info.F_name %></td>
              <% else %>
                <td><%= s_station.first.F_name %> </td>
                <td><span style="color:red;">考生未在本站注册:</span>
                <%= s_station.first.t_work_info.F_name %></td>
              <% end %>
              <td><%= render_student_time_length(c,params[:search],params[:station_name]) %></td>
              <td>
                <% status = render_student_status(s_station.first,@time_interval,params[:station_name])%>
                <% if current_user.role == "运输处" or current_user.permission == 2 %>
                  <div class="dropdown">
                    <% if params[:search].present? %>
                      <%= status%>
                    <% else %>
                      <button type="button" class="btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style= "width:70px;">
                        <%= status %>  <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" style = "background:#ECF9F2;">
                        <% case status %>
                        <% when "在职" %>
                          <li><%= link_to("长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                          <li><%= link_to("短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                          <li><%= link_to("调离",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                          <li><%= link_to("退休",set_student_status_t_user_info_path(s_station.first,:station_name=> params[:station_name],:status => "退休"),method: :patch)%></li>
                        <% when "短假" %>
                          <% short_vacation = TVacationInfo.where(F_id: c.F_id,F_type: status).last %>
                          <% if short_vacation.end_time.present? %>
                            <li><%= link_to("长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                            <li><%= link_to("短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                            <li><%= link_to("调离",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                            <li><%= link_to("退休",set_student_status_t_user_info_path(s_station.first,:station_name=> params[:station_name],:status => "退休"),method: :patch)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 短假(已结束) </span><br>
                               <span class = "student_status_style_two"> 起： <%= short_vacation.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> </span> <br>
                               <span class = "student_status_style_two"> 止： <%= short_vacation.end_time.strftime("%Y-%m-%d %H:%M:%S") %> </span>
                            </div>
                          <% else %>
                            <li><%= link_to("结束短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 短假 </span><br>
                               <span class = "student_status_style_two"> 起： <%= short_vacation.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ～</span>
                            </div>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                <% else %>
                  <legend style= "font-size: 15px;"><%= status%></legend>
                <% end %>
              </td>
              <% if params[:search].present? %>
              <td><%= link_to("查看详情", student_records_t_record_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s_station.first.F_name, :user_id => c.F_id, "utf8": params[:utf8], "search": params[:search], "commit": params[:commit]))%></td>
              <% else %>
              <td><%= link_to("查看详情", student_records_t_record_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s_station.first.F_name, :user_id => c.F_id))%></td>
              <% end %>
              <% if current_user.orgnize == "运输处"%>
              <td><%= link_to("",t_user_info_path(s_station.first,:station_name => params[:station_name]),method: :delete, data: {confirm: "此操作会删除此用户所有相关信息，您确定要删除吗？"},class: "fa fa-trash")%></td>
              <% end %>
            </tr>
          <% end %>


      </tbody>
    </table>
    <h4>未参加考试的考生</h4>

    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职位</th>
          <th>状态</th>
          <th>详情</th>
          <% if current_user.orgnize == "运输处"%>
          <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student_wk.each do |c| %>
        <% s_station = TUserInfo.where(:F_id => c.F_id,:F_station_uuid => @station.F_uuid) %>
        <% team_uuid = (s_station.pluck(:F_team_uuid)&@team_uuid_array)[0] %>
        <% s = s_station.find_by(:F_team_uuid => team_uuid) %>
          <tr>
            <% if s.present? %>
              <td style="width:20%;"><%= s.F_name %></td>
              <td style="width:40%;"><%= s.t_team_info.F_name %>:
              <%= s.t_work_info.F_name %></td>
            <% else %>
              <td style="width:20%;"><%= s_station.first.F_name %> </td>
              <td style="width:40%;"><span style="color:red;">考生未在本站注册:</span>
              <%= s_station.first.t_work_info.F_name %></td>
            <% end %>

              <td style="width:15%;">
                <% status = render_student_status(s_station.first,@time_interval,params[:station_name])%>
                <% if current_user.orgnize == "运输处" or current_user.permission == 2 %>
                  <div class="dropdown">
                    <% if params[:search].present?%>
                      <%= status %>
                    <% else %>
                      <button type="button" class="btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style= "width:70px;">
                        <%= status %>  <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" style = "background:#ECF9F2;">
                        <% case status %>
                        <% when "在职" %>
                          <li><%= link_to("长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                          <li><%= link_to("短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                          <li><%= link_to("调离",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                          <li><%= link_to("退休",set_student_status_t_user_info_path(s_station.first,:station_name=> params[:station_name],:status => "退休"),method: :patch)%></li>
                        <% when "短假" %>
                          <% short_vacation = TVacationInfo.where(F_id: c.F_id,F_type: status).last %>
                          <% if short_vacation.end_time.present? %>
                            <li><%= link_to("长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                            <li><%= link_to("短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                            <li><%= link_to("调离",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                            <li><%= link_to("退休",set_student_status_t_user_info_path(s_station.first,:station_name=> params[:station_name],:status => "退休"),method: :patch)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 短假(已结束) </span><br>
                               <span class = "student_status_style_two"> 起： <%= short_vacation.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> </span> <br>
                               <span class = "student_status_style_two"> 止： <%= short_vacation.end_time.strftime("%Y-%m-%d %H:%M:%S") %> </span>
                            </div>
                          <% else %>
                            <li><%= link_to("结束短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 短假 </span><br>
                               <span class = "student_status_style_two"> 起： <%= short_vacation.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ～</span>
                            </div>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                <% else %>
                  <legend style= "font-size: 15px;"><%= status%></legend>
                <% end %>
              </td>
              <td style="width:15%;">无</td>
              <% if current_user.orgnize == "运输处"%>
              <td style="width:10%;"><%= link_to("",t_user_info_path(s_station.first,:station_name => params[:station_name]),method: :delete, data: {confirm: "此操作会删除此用户所有相关信息，您确定要删除吗？"},class: "fa fa-trash")%></td>
              <% end %>
            </tr>
          <% end %>

      </tbody>
    </table>

    <h4>其他考生</h4>

    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职位</th>
          <th>状态</th>
          <th>详情</th>
          <% if current_user.orgnize == "运输处"%>
          <th>操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>

        <% @student_other.each do |c| %>
        <% s_station = TUserInfo.where(:F_id => c.F_id,:F_station_uuid => @station.F_uuid) %>
        <% team_uuid = (s_station.pluck(:F_team_uuid)&@team_uuid_array)[0] %>
        <% s = s_station.find_by(:F_team_uuid => team_uuid) %>
          <tr>
            <% if s.present? %>
              <td style="width:20%;"><%= s.F_name %></td>
              <td style="width:40%;"><%= s.t_team_info.F_name %>:
              <%= s.t_work_info.F_name %></td>
            <% else %>
              <td style="width:20%;"><%= s_station.first.F_name %> </td>
              <td style="width:40%;"><span style="color:red;">考生未在本站注册:</span>
              <%= s_station.first.t_work_info.F_name %></td>
            <% end %>


              <td style="width:15%;">
                <% status = render_student_status(s_station.first,@time_interval,params[:station_name]) %>
                <% if current_user.orgnize == "运输处" or current_user.permission == 2 %>
                  <div class="dropdown">
                    <% if params[:search].present? || status == "退休" %>
                      <%= status %>
                    <% elsif status == "点击修复" %>
                      <%= link_to("点击修复", set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:F_type => "点击修复",:station_name => params[:station_name]),method: :post) %>
                    <% else %>
                      <button type="button" class="btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style= "width:70px;">
                        <%= status %>
                        <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" style = "background:#ECF9F2;">
                        <% case status %>
                        <% when "调离" %>
                          <% student_transfer = TVacationInfo.where(F_id: c.F_id,F_type: status,station_name: params[:station_name]).last %>
                          <% if student_transfer.end_time.present? %>
                            <li><%= link_to("长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                            <li><%= link_to("短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                            <li><%= link_to("调离",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                            <li><%= link_to("退休",set_student_status_t_user_info_path(s_station.first,:station_name=> params[:station_name],:status => "退休"),method: :patch)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 调离(已调回) </span><br>
                               <span class = "student_status_style_two"> 起： <%= student_transfer.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> </span> <br>
                               <span class = "student_status_style_two"> 止： <%= student_transfer.end_time.strftime("%Y-%m-%d %H:%M:%S") %> </span>
                            </div>
                          <% else %>
                            <li><%= link_to("调回",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 调离 </span><br>
                               <span class = "student_status_style_two"> 起： <%= student_transfer.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ～ </span>
                            </div>
                          <% end %>
                        <% when "长假"%>
                          <% long_vacation = TVacationInfo.where(F_id: c.F_id,F_type: status).last %>
                          <% if long_vacation.end_time.present? %>
                            <li><%= link_to("长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                            <li><%= link_to("短假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "短假"),method: :post)%></li>
                            <li><%= link_to("调离",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "调离"),method: :post)%></li>
                            <li><%= link_to("退休",set_student_status_t_user_info_path(s_station.first,:station_name=> params[:station_name],:status => "退休"),method: :patch)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 长假(已结束) </span><br>
                               <span class = "student_status_style_two"> 起： <%= long_vacation.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> </span> <br>
                               <span class = "student_status_style_two"> 止： <%= long_vacation.end_time.strftime("%Y-%m-%d %H:%M:%S") %> </span>
                            </div>
                          <% else %>
                            <li><%= link_to("结束长假",set_vacation_status_t_user_info_path(s_station.first,:F_id => c.F_id,:station_name => params[:station_name], :F_type => "长假"),method: :post)%></li>
                            <li class = "divider"></li>
                            <div style = "background:white;">
                               <span class = "student_status_style_one"> 长假 </span><br>
                               <span class = "student_status_style_two"> 起： <%= long_vacation.begin_time.strftime("%Y-%m-%d %H:%M:%S") %> ～ </span>
                            </div>
                          <% end %>

                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                <% else %>
                  <legend style= "font-size: 15px;"><%= status%></legend>
                <% end %>
              </td>
              <% if params[:search].present? %>
              <td style="width:15%;"><%= link_to("查看详情", student_records_t_record_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s_station.first.F_name, :user_id => c.F_id, "utf8": params[:utf8], "search": params[:search], "commit": params[:commit]))%></td>
              <% else %>
              <td style="width:15%;"><%= link_to("查看详情", student_records_t_record_infoes_path(:duan_name => params[:duan_name],:station_name => params[:station_name],:team_name => params[:team_name],:user_name => s_station.first.F_name, :user_id => c.F_id))%></td>
              <% end %>
              <% if current_user.orgnize == "运输处"%>
              <td style="width:10%;"><%= link_to("",t_user_info_path(s_station.first,:station_name => params[:station_name]),method: :delete, data: {confirm: "此操作会删除此用户所有相关信息，您确定要删除吗？"},class: "fa fa-trash")%></td>
              <% end %>
            </tr>
          <% end %>

      </tbody>
    </table>


  </div>



  <div class="teams_uploader">
    <table class="table">
      <tbody>
        <tr>
          <div class="teams_uploader_picture">
            <%= simple_form_for @station do |f| %>
              <td class="text-center"><%= f.label "上传站场图", class: "uploader-label"%></td>
              <td><%= f.input_field :image,multiple: true ,as: :file ,label: "选择图片"%></td>
              <% if current_user.orgnize != "集团公司" && current_user.orgnize != "研发中心" %>
                <td><%= f.submit "点击上传", data: { disable_with: "上传中。。。"}, class: "uploader-submit" %></td>
              <% else %>
                <td><%= link_to("点击上传","#",class:"btn btn-sm btn-primary")%></td>
              <% end %>
            <% end %>
            <td>
              <span style="color:#4B73B2"><i class="fa fa-download fa-1x" aria-hidden="true"></i>目前站场图:</span>
              <% if @station.image.present? %>
                <% n = @station.image.count %>
                <% (0..(n-1)).each do |i| %>
                  <div class="teams_station_picture">
                    <%= image_tag(@station.image[i].versions[:thumb].file.file.split("public").last) %>
                    <div class="dropdown-content">
                      <%= image_tag(@station.image[i].versions[:huge].file.file.split("public").last) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="teams-uploader-file">
            <%= simple_form_for @station do |f| %>
              <td class="text-center"><%= f.label "上传岗位作业指导书", class: "uploader-label"%></td>
              <td><%= f.input_field :attachment,multiple: true ,as: :file ,label: "选择附件"%></td>
              <% if current_user.orgnize != "集团公司" && current_user.orgnize != "研发中心"  %>
                <td><%= f.submit "点击上传", data: { disable_with: "上传中。。。"}, class: "uploader-submit" %></td>
              <% else %>
                <td><%= link_to("点击上传","#",class:"btn btn-sm btn-primary")%></td>
              <% end %>
            <% end %>
            <td>
              <% if current_user.orgnize != "集团公司" && current_user.orgnize != "研发中心" %>
                <span style="color:#4B73B2"><i class="fa fa-download fa-1x" aria-hidden="true"></i>下载附件：</span>
                <% if @station.attachment.present? %>
                  <% n = @station.attachment.count %>
                  <% (0..(n-1)).each do |i| %>
                    <%= link_to(@station.attachment[i].file.file.split("/").last,@station.attachment[i].file.file.split("public").last)%>
                  <% end %>
                <% end %>
              <% else %>
                <span style="color:#4B73B2"><i class="fa fa-download fa-1x" aria-hidden="true"></i>下载附件：</span>
              <% end %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="teams-uploader-file">
            <%= simple_form_for @station do |f| %>
              <td class="text-center"><%= f.label "本站实训平台软件压缩包", class: "uploader-label"%></td>
              <td><%= f.input_field :attachment2,multiple: true ,as: :file ,label: "选择附件"%></td>
              <% if current_user.orgnize != "集团公司" && current_user.orgnize != "研发中心" %>
                <td><%= f.submit "点击上传", data: { disable_with: "上传中。。。"}, class: "uploader-submit" %></td>
              <% else %>
                <td><%= link_to("点击上传","#",class:"btn btn-sm btn-primary")%></td>
              <% end %>
            <% end %>
            <td>
              <% if current_user.orgnize != "集团公司" && current_user.orgnize != "研发中心" %>
                <span style="color:#4B73B2"><i class="fa fa-download fa-1x" aria-hidden="true"></i>下载附件：</span>
                <% if @station.attachment2.present? %>
                  <% n = @station.attachment2.count %>
                  <% (0..(n-1)).each do |i| %>
                    <%= link_to(@station.attachment2[i].file.file.split("/").last,@station.attachment2[i].file.file.split("public").last)%>
                  <% end %>
                <% end %>
              <% else %>
                <span style="color:#4B73B2"><i class="fa fa-download fa-1x" aria-hidden="true"></i>下载附件：</span>
              <% end %>
            </td>
          </div>
        </tr>
      </table>
    </div>
  </div>
